body{
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode',
     Geneva, Verdana, sans-serif;
}





.mainbox
{
    display: flex;
    height: auto;
    width: auto;
    justify-content: center;
    align-items: center; 
    text-align: center;
    
}

.box{
    display: flex;
    flex-direction: column;
    height: 46rem;

}

.yellowbox
{

    background-color: rgb(245, 169, 4);
    width: 250px;
    height: 550px;
    box-sizing: border-box;
    text-align: center;
    align-items: center;
    justify-content: center;
    padding-top: 100px;
}

.greybox
{
  
  background-color: rgb(224, 224, 224);
  height: 47rem;
  width: 90rem;
  box-sizing: border-box;

}

.dotbox{
    display: flex;
    border-style: dotted;
    text-align: center;
    align-items: center;
    justify-content: center;
    height: 7rem;
    font-size: 5rem;
    width: 50rem;
    margin-top: 50px;
    margin-left: 130px;
  }

  .topbox
  {
    display: flex;
    width: auto;
    height: 5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 20px;
    padding-top: 10px;
}

.column {
    float: left;
    width: 33.33%;
    padding: 5px;
  }
  
  
  .row::after {
    content: "";
    clear: both;
    display: table;
  }

  .imgbox{
    display: flex;
     justify-content: center;
    width: auto;
    height: auto;
    align-items: center;
    padding: 20px;
  }